<!doctype html>
<html>
  <head>
    <title>JavaScript</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script type="text/javascript" src="script.js"></script>
  </head>

  <body>
    <h1>Layout</h1>

    <div id="square">
      <span> Santos! Santos! Gol!
        <br>Agora quem da bola e o Santos
        <br>O Santos e o novo campeao
        <br>Glorioso alvinegro praiano
        <br>Campeao absoluto desse ano!
        
        <br>Santos!
        <br>Santos sempre Santos
        <br>Dentro ou fora do alcapao
        <br>Jogue o que jogar
        <br>Es o leao do mar
        <br>Salve o nosso campeao!
        

    
      </span>
    </div>

    <button type="button" class="btn btn-outline-light" id="darkModeButton">Dark Mode</button>

    <script>
      // Chama a função toggleDarkMode quando o botão é clicado
      document.getElementById("darkModeButton").addEventListener("click", toggleDarkMode);
    </script>
  </body>
</html>
